// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.main{
    width: 100%;
    height: 600px;
    .container{
        max-width: 1200px;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        &-img{
            width: 50%;
            height: 600px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-content{
            position: relative;
            top: -20px;
            width: 50%;
            h2{
                font-weight: bold;
                font-size: 40px;
                font-family: $menu-font;
                color: $red-color;
            }
            h1{
                font-family: $logo-font;
                font-size: 60px;
                color: $main-color;
                span{
                    color: $red-color;
                }
            }
            p{
                font-size: 16px;
                color: $main-color;
                font-weight: bold;
            }
            a{
                position: relative;
                top: 50px;
            }
            .btn{
                padding: 15px 35px;
                background-color: $red-color;
                color: #fff;
                font-size: 16px;
                border-radius: 40px;
                &:hover{
                    background-color: transparent;
                    border: 1px solid red;
                    color: $red-color;

                }
            }
        }
    }
}

.caps{
    width: 100%;
}

.content1{
    width: 100%;
    position: relative;
    margin-top: 150px;
    font-family: $body-font;
    display: flex;
    .container{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        .left-content1{
            width: 55%;
            h3{
                font-size: 25px;
                color: #fff;
                background-color: $red-color;
                display: inline;
            }
            h2{
                margin: 20px 0;
                font-size: 45px;
                font-family: $logo-font;
                color: $main-color;
            }
            p{
                span{
                    font-size: 22px;
                }
                color: $main-color;
            }
        }
        .right-content1{
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 50px;
            &-case{
                border: 1px solid red;
                width: 250px;
                height: 90px;
                text-align: center;
                font-size: 28px;
                color: #fff;
                background-color: $red-color;
                padding-top:15px;
                border-radius: 50px;
                position: relative;
                &::after{
                    content: "";
                    width: 2px;
                    height: 190px;
                    background-color: $main-color;
                    position: absolute;
                    top: 89px;
                    left: 75px;
                }
                span{
                    font-size: 18px;
                    position: relative;
                    top: -5px;
                }
            }
            &-list{
                align-self: flex-end;
                padding: 30px;
                &-item{
                    font-size: 25px;
                    color: $red-color;
                    margin-bottom: 35px;
                    position: relative;
                    &:first-child{
                        margin-top: 10px;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                    &::after{
                        content: "";
                        width: 70px;
                        height:4px;
                        position: absolute;
                        top: 19px;
                        left: -30%;
                        border-bottom: 1px dashed $main-color;
                    }
                    &::before{
                        content: "";
                        width: 12px;
                        height: 12px;
                        background-color: $main-color;
                        border-radius: 50%;
                        position: absolute;
                        top: 15px;
                        left: -25px;
                    }
                    span{
                        color: $main-color;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
.content2{
    width: 100%;
    margin-top: 150px;
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: #f8faff;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        .top-container{
            text-align: center;
            display: flex;
            flex-direction: column;
            h2{
                font-size: 25px;
                color:#fff;
                background-color: $main-color;
                width: 300px;
                align-self: center; 
            }
            h1{
                font-size: 60px;
                line-height: 40px;
                color: $red-color;
                font-family: $body-font;
            }
        }
        .bottom-container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            &_item{
                width: 30%;
                text-align: center;
                position: relative;
                h3{
                    font-size: 25px;
                    color: $main-color;
                    font-family: $logo-font;
                    margin-bottom:10px;
                }
                p{
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 75%;
                    color: $main-color;
                    font-size: 18px;
                }
                span{
                    font-size: 110px;
                    position: absolute;
                    top: -50px;
                    opacity: .4;
                    color: $red-color;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}
.content-img{
    width: 70px;
    height: 70px;
    margin-bottom: 20px;    
}
#buj{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid blue;
    border-radius: 50%;
    outline: none;
    position: absolute;
    top: 45px;
    right: 100px;
    &::after{
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        background-color: blue;
        opacity: .7;
        transform: translate(-50%,-50%);
        visibility: hidden;
    }
    &::before{
        content: "Break News!";
        position: absolute;
        width: 40px;
        height: 40px;
        display: inline-block;
        left: 25px;
        top: -10px;
    }
    &:checked{
        &::after{
            visibility: visible;
        }
    }
}
#buj:checked+div{
    top: 0;
}
#buj{
    z-index: 555;
}
#buj:checked~div{
    width: 100%;
    height: 100vh;
}

.buja{
    width: 100%;
    border: 1px solid blue;
    height: 600px;
    width: 30%;
    display: inline-block;
}
.bux{
    position: absolute;
    background-color: red;
    opacity: .4;
    top: -600%;
    transition: 600ms all;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-color;
    font-size: 30px;
}
.news{
    width: 120px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
}