@media (max-width: 1200px) {

    .header{
        .container{
            width: 100%;
            flex-direction: column;
            .header-nav{
                margin: 0 auto; 
            }
        }
    }
    .main{
        margin-top: 50px;
    }  
}
@media (max-width: 960px){
    .header-logo{
        position: relative;
        left: -35px;
    }
    .header-nav{
        padding-top: 30px;
        &-list{
            flex-direction: column;
            &-item{
                border-right: 1px solid $red-color;
                border-left: 1px solid $red-color;
                transition: $transition;
                a{
                    &:hover{
                        transform: scale(1.1);
                        }
                }
            }
        }
    } 
    .main{
        margin-top: 500px;
        .container{
            width: 100%;
            text-align: center;
            &-content{
                margin: 0 auto;
            }
            &-img{
                display: none;
            }
        }
    }
    .content1{
        .container{
            .right-content1{
                display: none !important;
            }
        .left-content1{
            flex: 1;
            text-align: center;
            padding: 20px;
        }
    }
    }
    .content2{

        .container{

            .top-container{
                margin-top: 100px;
            }
            .content-2{
                flex-direction: column;
                flex:1;
                .content-2_1{
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }
    }
    .content3{
        .container{
            margin-bottom: 50px;
            .bottom-content{
                &_left{
                    width: 100%;
                    flex: 1;
                    margin-left: 30px;
                    h3{
                       width: 70%;
                       text-align: center;
                    }
                    .list{
                        text-align: center;
                    }
                }
                &_right{
                    display: none;
                }
            }
        }
    }
}