// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
#main{
    width: 100%;
    height: 80vh;
    background-color: #1c2956;
    padding-top: 20px;
    display: flex;
    .container{
        width: 100%;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        .main-content{
            z-index: 1;
            h2,h3{
                margin: 5px 0;
                color: $border-color;
                font-weight: 400;
            }
            h1{
                font-size: 50px;   
                white-space: nowrap;
                margin: 0;
                font-weight: 700;
                color: #fff;
            }
            a{
                margin-top: 50px;
            }
        }
        .main-slide{
            width: 100%;
            position: relative;
            height: 80%;
            margin-top: -50px;
            &-img{
                width: 100%;
                overflow: hidden;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-control{
                position: absolute;
                bottom: -70px;
                right: 0;
                display: flex;
                align-items: center;
                &-line{
                    width: 400px;
                    height: 1px;
                    background-color: #fff;
                    margin-right: 2em;
                    .line{
                        width: 40%;
                        height: 1px;
                        background-color: $after-line-color;
                    }
                }
                &-page{
                    white-space: nowrap;
                    font-size: 18px;
                    font-weight: bold;
                    & span:first-child{
                        color: $after-line-color;
                    }
                }
            }
        }
    }
}
.hero{
    width: 100%;
    height: 900px;
    background-color: #1c2956;
    color: white;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        height: 100%;
        .hero-head{
            text-align: center;
            width: 100%;
            height: 20%;
            h2{
                font-size: 30px;
                letter-spacing: .2rem;
                padding:10px;
                padding-bottom: 20px;
            }
            span{
                font-size: 13px;
                color: $border-color;
            }
        }
        .hero-bottom{
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: space-between;
            &-left{
                width: 40%;
                background-color: #16062a;
                padding: 40px;
                border-radius: 40px;
                border: 2px solid #13091f;
                position: relative;
                .home{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: #13091f;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 5px;
                }
                &-phone{
                    width: 100%;
                    height: 100%;
                    background-color: #13091f;
                    padding: 15px 30px;
                    overflow: hidden;
                    &-content{
                        width: 100%;
                        height: 100%;
                        p{
                            font-size: 15px;
                            transition: $transition;
                            filter: blur(3px);
                            &:hover{
                                filter: blur(0);
                            }
                        }
                    }
                }
                &-man{
                    position: absolute;
                    overflow: hidden;
                    bottom: -35px;
                    right: -30%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            &-right{
                width: 45%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                &-items{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    &-img{
                        width: 50%;
                        text-align: center;
                        margin-right: 20px;
                        padding: 40px;
                        border-radius: 50%;
                        background-color: #13091f;
                        img{
                            width: 80%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    &-content{
                        padding: 20px;
                        padding-right: 50px;
                        h3{
                            font-size: 19px;
                        }
                        p{
                            font-size: 12px;
                            color: $border-color;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 992px) { 
    .hero-bottom-left{
        display: none;
    }
    .hero-bottom-right{
        width: 100%;
        flex-direction: column;
        margin: 0px auto;
        &-items{
            flex-direction: column;
            text-align: center;
        }
    }
 }