/*
item-img{
    height : 240px;
    overflow:hidden;
    .item-img-img{
        width:100%;
        height:100%;
        object-fit:cover;
    }
}
line-height - text-align;

white-space - oveflow-x

outline : none; appearance:none;
























*/