// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
 body{
   background-color: rgba(148, 138, 138, 0.301);
 }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

li,ul {
  list-style: none;
}
.container{
  max-width: 1240px;
  height: 100%;
  margin:0 auto;
}
html{
  scroll-behavior: smooth;
}