// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Logo font family
$head-text: 'Dancing Script', cursive;

/// Body (monospace) font family
$body-font: 'Lato', sans-serif;

///List font family
$nav-font:'Poppins', sans-serif;

//Colors
$hover-color: #25b1b0;
$light-grey: rgb(245, 237, 237);
$mid-grey: rgb(95, 95, 95);
$content-bg:#2b2a2f;
$menu-bg: #6e6667;
$navbar-social-bg:rgba(7, 7, 7, 0.575);

//Comp
$transition:600ms;
$gutter:40px;