// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
 header{
   font-family: 'Karla', sans-serif;
 }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

li,ul {
  list-style: none;
}
.container{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
html{
  overflow-x:hidden;
}
