// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.info{
    width: 100%;
    height: 100%;
    .container{
        margin-top: $gutter*3;
        .info-content{
            text-align: center;
            width: 50%;
            margin: $gutter auto;
            font-family: $body-font;
            ;
            h2{
                font-size: 26px;
                color: $mid-grey;
                letter-spacing: .2rem;
                word-spacing: .1rem;
                margin-bottom: 20px;
            }
            p{
                letter-spacing: .1rem;
                color: $mid-grey;
                line-height: 1.5rem;
            }
        }
    }
}
.main{
    width: 100%;
    height: 500px;
    margin-top: $gutter*3;
    &-content{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 15px;
        &-firstImage{
            width: 30%;
            height:auto;
            position: relative;
            &:hover{
                cursor: pointer;
                filter: brightness(.4);
            }
            h2{
                position: absolute;
                bottom: 50px;
                left: 15px;
                color: $light-grey;
                font-size: 30px;
                font-family: $body-font;
            }
            span{
                position: absolute;
                bottom:15px;
                left: 15px;
                color: $mid-grey;
                font-family: $head-text;
                font-size: 28px;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-secondImage{
            width: 70%;
            height:auto;
            position: relative;
            transition: $transition;
            &:hover{
                cursor: pointer;
                filter: brightness(.4);
            }
            h2{
                position: absolute;
                bottom: 50px;
                left: 15px;
                color: $light-grey;
                font-size: 30px;
                font-family: $body-font;
            }
            span{
                position: absolute;
                bottom:15px;
                left: 15px;
                color: $mid-grey;
                font-family: $head-text;
                font-size: 28px;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.works{
    width: 100%;
    height: 300px;
    margin-top: $gutter*3;
    background: linear-gradient(0deg, rgba(43,42,47,1) 0%, rgba(43,42,47,0.13238798937543772) 20%, rgba(43,42,47,0.13238798937543772) 62%, rgba(43,42,47,0.13238798937543772) 100%),url(/Portfolio/img/Fantasy_landscape_Weed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &-contain{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 25px;
        justify-content: center;
        &-item{
            align-self: center;
            width: 20%;
            height: 80%;
            position: relative;
            overflow:hidden;
            transition: $transition;
            &:hover{
                box-shadow: $hover-color 0px 0px 0px 8px;
                border-radius: 10px;
                &>img{
                    transform: scale(1.2);
                }
            }
            span{
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 30px;
                transform: translate(-50%,-50%);
                font-family: $head-text;
                &::after,&::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    background-color: #000;
                }
                &::after{top: -10px;}
                &::before{top: 40px;}
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(.8);
                transition: $transition;
            }
        }
    }
}
.article{
    width: 100%;
    height: 500px;
    margin-top: $gutter*3;
    background-color: rgba(155, 155, 155, 0.199);
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
        filter: blur(15px);
    }
    &-contain{
        margin: 0 auto;
        text-align: center;
        width: 65%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        position: relative;
        span{
            font-size: 20px;
            letter-spacing:.1rem;
            word-spacing: .1rem;
            font-family: $nav-font;
            font-weight: 400;
            color: $light-grey;
            &::first-letter{
                font-size: 40px;
            }
        }
    }
}