// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// Logo font family
$logo-font: 'Poppins', sans-serif;

// Menu font
$menu-font: 'Nunito', sans-serif;

// Body font family
$body-font: 'Karla', sans-serif;

// List font family
$list-font: monospace;

//Colors
$hover-color: #25b1b0;
$hover-link-color: #fff;
$light-grey: rgb(237, 237, 237);
$mid-grey: rgb(153, 153, 153);
$main-color:#2e3b75;
$red-color:#f04438;

//Comp
$transition:600ms;